services:
  - type: web
    name: webproducts-api
    runtime: docker
    plan: free
    branch: main
    region: oregon
    dockerfilePath: ./Dockerfile
    autoDeployTrigger: commit
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: PORT
        value: 8080
      - key: Jwt__Key
        value: SJAkgHHLVc04G44SqoeVnlyBaCQbfS+2RXviyJenKkZG2P6spBQ5jdmtYTQFzs86
      - key: Jwt__Issuer
        value: webProductsApi
      - key: ConnectionStrings__DefaultConnection
        fromService:
          name: webproducts-db
          type: pserv
          property: connectionString

  - type: pserv
    name: webproducts-db
    runtime: docker
    plan: free
    buildCommand: null
    startCommand: null
    healthCheckPath: none
    envVars:
      - key: MYSQL_ROOT_PASSWORD
        value: Qwe.123*
      - key: MYSQL_DATABASE
        value: productsdb
      - key: MYSQL_USER
        value: root
      - key: MYSQL_PASSWORD
        value: Qwe.123*
