services:
  - type: web
    name: webproducts-api
    env: docker
    plan: free
    branch: main
    region: oregon
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: PORT
        value: 8080
      - key: Jwt__Key
        value: SjAkghHLVc04G44SqoeVnlyBaCQbfS+2RXviyJenKkZG2P6spBQ5jdmtYTQFzs86
      - key: Jwt__Issuer
        value: webProductsApi
      - key: ConnectionStrings__DefaultConnection
        fromDatabase:
          name: webproducts-db
          property: connectionString

  - type: pserv
    name: webproducts-db
    env: mysql
    plan: free
    version: 8.0
    databaseName: productsdb
    user: root
    password: Qwe.123*
