services:
  - type: web
    name: webproducts-api
    runtime: docker
    plan: free
    branch: main
    region: oregon
    dockerfilePath: ./Dockerfile
    autoDeployTrigger: commit
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: PORT
        value: 8080
      - key: Jwt__Key
        value: SJAkgHHLVc04G44SqoeVnlyBaCQbfS+2RXviyJenKkZG2P6spBQ5jdmtYTQFzs86
      - key: Jwt__Issuer
        value: webProductsApi
    